NiFi_Flow.json
{"flowContents":{"identifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","instanceIdentifier":"bcf325e9-018e-1000-40ef-0a85bb608b22","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c8f8c2da-83f2-39ab-b341-295ca6479e6b","instanceIdentifier":"c3214cc0-018e-1000-c980-ef7545e60ad4","name":"ListenHTTP","comments":"","position":{"x":320.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"contentListener","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8888"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"590ae001-0a74-3d0f-a9c2-94edd4287d6a","instanceIdentifier":"c350b4ee-018e-1000-621c-9bb2795c75a9","name":"EvaluateJsonPath","comments":"","position":{"x":800.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","encoded_frame":"$.frame","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoded_frame":{"name":"encoded_frame","displayName":"encoded_frame","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"3c103551-6c4a-3dbd-be79-5386abee161a","instanceIdentifier":"c321d2f8-018e-1000-8110-71d9bda2272e","name":"PutFile","comments":"","position":{"x":800.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"${directory}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"1ca2e3bb-1297-3e26-a944-ac57da2cb6c7","instanceIdentifier":"d16b9d53-018e-1000-cc2b-38d4b5c637e3","name":"Semantification","comments":"","position":{"x":1808.0,"y":-232.0},"type":"com.dell.glaciation.processors.jsonld.Semantification","bundle":{"group":"com.dell.glaciation","artifact":"nifi-jsonld-nar","version":"2.0.0-M2"},"properties":{"GSP_ENDPOINT":"data","DESTINATION":"http://localhost:3030/ds/"},"propertyDescriptors":{"GSP_ENDPOINT":{"name":"GSP_ENDPOINT","displayName":"GSP endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"DESTINATION":{"name":"DESTINATION","displayName":"SPARQL endpoint destination","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"5239b324-e6e7-36a6-ae6b-0e88a0da0e20","instanceIdentifier":"cc245e1d-018e-1000-bb5e-edfe9fef4670","name":"ExecuteGroovyScript","comments":"Decode the Base64 encoded image","position":{"x":1336.0,"y":-32.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"2.0.0-M2"},"properties":{"groovyx-script-body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (!flowFile) return\nString text = flowFile.getAttribute(\"encoded_frame\")\nflowFile = session.write(flowFile, { outputStream ->\n    outputStream.write(Base64.getDecoder().decode(text))\n} as OutputStreamCallback)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"19384962-e850-3b97-b746-82115282ca11","instanceIdentifier":"c356096b-018e-1000-61b8-04ef51295fba","name":"UpdateAttribute","comments":"","position":{"x":1344.0,"y":-232.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"encoded_frame":"${encoded_frame}","directory":"/home/parklize/Documents/code/Tools/nifi-2.0.0-M2/output"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encoded_frame":{"name":"encoded_frame","displayName":"encoded_frame","identifiesControllerService":false,"sensitive":false,"dynamic":true},"directory":{"name":"directory","displayName":"directory","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"79f317db-fbb8-33a1-a651-1e68b9c0486d","instanceIdentifier":"d18d803e-018e-1000-2610-5dc90aedef40","name":"","source":{"id":"19384962-e850-3b97-b746-82115282ca11","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"UpdateAttribute","comments":"","instanceIdentifier":"c356096b-018e-1000-61b8-04ef51295fba"},"destination":{"id":"1ca2e3bb-1297-3e26-a944-ac57da2cb6c7","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"Semantification","comments":"","instanceIdentifier":"d16b9d53-018e-1000-cc2b-38d4b5c637e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"01f9cbc4-b998-3577-8f73-7d6e8f028455","instanceIdentifier":"d16d4879-018e-1000-c49c-6a5b7444cf95","name":"","source":{"id":"1ca2e3bb-1297-3e26-a944-ac57da2cb6c7","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"Semantification","comments":"","instanceIdentifier":"d16b9d53-018e-1000-cc2b-38d4b5c637e3"},"destination":{"id":"c03f9463-38c2-37cc-b2eb-6e611985c1ef","type":"FUNNEL","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"Funnel","comments":"","instanceIdentifier":"cc819118-018e-1000-7cca-54626a317902"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"8b8e191e-43b8-33ee-942a-738492aeb8f9","instanceIdentifier":"d1f33005-018e-1000-4733-042be8e852cf","name":"","source":{"id":"590ae001-0a74-3d0f-a9c2-94edd4287d6a","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c350b4ee-018e-1000-621c-9bb2795c75a9"},"destination":{"id":"19384962-e850-3b97-b746-82115282ca11","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"UpdateAttribute","comments":"","instanceIdentifier":"c356096b-018e-1000-61b8-04ef51295fba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"647ec7de-67a7-316f-888a-ac8ad3bcf475","instanceIdentifier":"cc2746a2-018e-1000-f689-9eeedde61c65","name":"","source":{"id":"19384962-e850-3b97-b746-82115282ca11","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"UpdateAttribute","comments":"","instanceIdentifier":"c356096b-018e-1000-61b8-04ef51295fba"},"destination":{"id":"5239b324-e6e7-36a6-ae6b-0e88a0da0e20","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"ExecuteGroovyScript","comments":"Decode the Base64 encoded image","instanceIdentifier":"cc245e1d-018e-1000-bb5e-edfe9fef4670"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"f6f70f1f-1235-37ae-8f71-a3e0e1c0b4dc","instanceIdentifier":"cc2dd466-018e-1000-c072-ab5d58dd4bde","name":"","source":{"id":"5239b324-e6e7-36a6-ae6b-0e88a0da0e20","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"ExecuteGroovyScript","comments":"Decode the Base64 encoded image","instanceIdentifier":"cc245e1d-018e-1000-bb5e-edfe9fef4670"},"destination":{"id":"3c103551-6c4a-3dbd-be79-5386abee161a","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"PutFile","comments":"","instanceIdentifier":"c321d2f8-018e-1000-8110-71d9bda2272e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"},{"identifier":"f2ef8b40-7c65-37c8-a7e0-12f95eacd72c","instanceIdentifier":"c351e1ef-018e-1000-386d-c83e8a7adf9c","name":"","source":{"id":"c8f8c2da-83f2-39ab-b341-295ca6479e6b","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"ListenHTTP","comments":"","instanceIdentifier":"c3214cc0-018e-1000-c980-ef7545e60ad4"},"destination":{"id":"590ae001-0a74-3d0f-a9c2-94edd4287d6a","type":"PROCESSOR","groupId":"e09c9aee-adc6-3559-8d90-d021d35a0ab7","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c350b4ee-018e-1000-621c-9bb2795c75a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"}],"labels":[],"funnels":[{"identifier":"c03f9463-38c2-37cc-b2eb-6e611985c1ef","instanceIdentifier":"cc819118-018e-1000-7cca-54626a317902","position":{"x":1960.0,"y":16.0},"componentType":"FUNNEL","groupIdentifier":"e09c9aee-adc6-3559-8d90-d021d35a0ab7"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}